# Base de datos
DATABASE_URL=postgresql://postgres:admin123@agencia_autos_db:5432/agencia_autos_db
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=agencia_autos

# Configuración de la app
APP_ENV=development
APP_TITLE=Agencia de Alquiler de Autos API
DEBUG=True
ENABLE_DOCS=True

# Configuraciones adicionales
SECRET_KEY=your-secret-key-here
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

POSTGRES_PASSWORD=tu_contraseña_segura
